<!-- <div class="row">
    <div class="col-md-12">
        <app-nav></app-nav>
    </div>
  </div> -->
  
  <div class="container">
    <div class="container" id="main-container">
        <h1>Product API</h1>
  
        <p>
            <button type="button" data-toggle="collapse" (click)="onOpenModal(null!!,'add')">+ Tambah Data Product</button>
        </p>
  
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nomer</th>
                            <th scope="col">Variant</th>
                            <th scope="col">Product Code</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cat of product">
                            <td>{{cat.id}}</td>
                            <td>{{cat.variant.category.categoryName}} /  {{cat.variant.variantName}}</td>
                            <td>{{cat.productCode }}</td>
                            <td>{{ cat.productName }}</td>
                            <td>{{ cat.productDescription }}</td>
                            <td>{{ cat.productPrice }}</td>
                            <td>{{ cat.productStock }}</td>
                            <td>
                                <button type="button" 
                                class="btn btn-success">
                                    <i class="fas fa-edit" (click)="onOpenModal(cat,'edit')"></i>
                                </button>
                                <button type="button" 
                                class="btn btn-danger">
                                    <i class="far fa-trash-alt" (click)="onOpenModal(cat,'delete')"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
  
    <!-- Modal tambah variant -->
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Tambahkan Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)">
                <div>
                <label>Choose Category</label>
                  <select class="form-control" ngModel name="categoryId" (ngModelChange)="variantByCategory($event)">
                    <option [ngValue]="cat.id" *ngFor="let cat of category">{{cat.categoryName}}</option>
                  </select>
               </div>
               <div>
                <label>Choose Variant</label>
                  <select class="form-control" ngModel name="variantId">
                    <option [ngValue]="cat.id" *ngFor="let cat of variant" [(ngModel)]="selectedCategory">{{cat.variantName}}</option>
                  </select>
               </div>
                <div class="form-group">
                    <label for="productcode">Product Code</label>
                    <input type="text" ngModel name="productCode"
                    class="form-control" id="productCode"
                    placeholder="Product Code" required>
                </div>
                <div class="form-group">
                    <label for="productname">Product Name</label>
                    <input type="text" ngModel name="productName"
                    class="form-control" id="productName"
                    placeholder="Product Name" required>
                </div>
                <div class="form-group">
                    <label for="productdescription">Description</label>
                    <input type="text" ngModel name="productDescription"
                    class="form-control" id="productProduct"
                    placeholder="Product Description" required>
                </div>
                <div class="form-group">
                    <label for="productprice">Price</label>
                    <input type="integer" ngModel name="productPrice"
                    class="form-control" id="productPrice"
                    placeholder="Product Price" required>
                </div>
                <div class="form-group">
                    <label for="productstock">Stock</label>
                    <input type="integer" ngModel name="productStock"
                    class="form-control" id="productStock"
                    placeholder="Product Stock" required>
                </div>
                <div class="modal-footer">
                    <button type="button" id="add-variant-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Simpan Data</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  
  
      <!-- Modal edit variant -->
      <div class="modal fade" id="editProductModal" tabindex="-1" 
      role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form #editForm="ngForm">
                  <input type="hidden" ngModel="{{editProduct?.id}}" name="id" class="form-control" id="id">
                  
                <div class="form-group">
                  <label>Category </label>
                  <br>
                  <select class="form-control" [(ngModel)]="selectedCategory" name="categoryId" (ngModelChange)="variantByCategory($event)">
                    <option>Select Category</option>
                    <option [ngValue]="cat.id" *ngFor="let cat of category" [selected]="cat.id == editProduct.variant.categoryId">{{cat.categoryName}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Variant </label>
                  <br>
                  <select class="form-control" [(ngModel)]="selectedVariant" name="variantId">
                    <option>Select Variant</option>
                    <option [ngValue]="cat.id" *ngFor="let cat of variant" [selected]="cat.id == editProduct.variantId">{{cat.variantName}}</option>
                  </select>
                </div>
  
                <div class="form-group">
                    <label for="productcode">Product Code</label>
                    <input type="text" ngModel="{{editProduct?.productCode}}" 
                    name="productCode"
                    class="form-control" id="productCode"
                    placeholder="Product Code" required>
                </div>
  
                <div class="form-group">
                    <label for="productname">Product Name</label>
                    <input type="text" ngModel="{{editProduct?.productName}}" 
                    name="productName"
                    class="form-control" id="productName"
                    placeholder="Product Name" required>
                </div>

                <div class="form-group">
                    <label for="productdescription">Description</label>
                    <input type="text" ngModel="{{editProduct?.productDescription}}" 
                    name="productDescription"
                    class="form-control" id="productDescription"
                    placeholder="Product Description" required>
                </div>

                <div class="form-group">
                   <label for="productprice">Price</label>
                    <input type="text" ngModel="{{editProduct?.productPrice}}" 
                    name="productPrice"
                    class="form-control" id="productPrice"
                    placeholder="Product Price" required>
                </div>

                <div class="form-group">
                    <label for="productstock">Stock</label>
                    <input type="text" ngModel="{{editProduct?.productStock}}" 
                    name="productStock"
                    class="form-control" id="productStock"
                    placeholder="Product Stock" required>
                </div>
  
                <div class="modal-footer">
                  <button type="button" id="" class="btn btn-secondary" 
                  data-dismiss="modal">Close</button>
                  <button (click)="onEditProduct(editForm.value)" 
                  data-dismiss="modal" type="button" class="btn btn-primary">Edit Data</button>
              </div>
            </form>
          </div>   
        </div>
      </div>
    </div>

  
      <!-- Modal delete variant -->
    <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" 
    aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Hapus Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Anda yakin ingin menghapus data {{deleteProduct.productName}}</p>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-secondary" 
                data-dismiss="modal">No</button>
                <button class="btn btn-danger" 
                data-dismiss="modal" (click)="onDeleteProduct(deleteProduct.id)">Yes</button>
            </div>
          </div>
        </div>
      </div>
  </div>
