<div class="wrapper">    
    <app-topnav></app-topnav>    
    <app-asidenav></app-asidenav>    
    <div class="content-wrapper">    
      
      <router-outlet></router-outlet> <!-- This will be changing based on routing  -->  
      
    </div>    
    <app-footer></app-footer>    
  </div>     