<div class="container">
    <div class="row content">
        <div class="col md-6 mb-3">
            <img src="../../../assets/svg/login.svg" class="img-fluid" 
            alt="image">
        </div>

        <div class="col-md-6">
            <h3 class="signin-text mb-3">Register</h3>
        
            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" [(ngModel)]="authRegister.username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control" [(ngModel)]="authRegister.email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" [(ngModel)]="authRegister.password">
                </div>
                <!-- <div class="form-group">
                    <label for="password">Role</label>
                    <input type="password" name="password" class="form-control" [(ngModel)]="authRegister.password">
                </div> -->
                <!-- <div>
                    <button  class="btn btn-class" (click)="register()">Register</button>
                </div> -->
                <div>
                    <button  class="btn btn-class" (click)="register()">Register</button>
                </div>
            </form>
           
        </div>
    </div>
</div>
