<div class="header-wrapper border-bottom">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="navbar-brand" href="home">XAPOS 259</a>
                <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-targets="#navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggle-icon"></span>>
            </button>
            </li>

        </ul>
        <div class="collapse navbar-collapse" 
        id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
                <li class="nav-item" 
                [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/home">Home</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/category">Category</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/variant">Variant</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/product">Product</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']">
                    <a class="nav-link" routerLink="/order">Order</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link btn" type="submit" (click)="onLogout()">Log Out</button>
                </li>
        </ul>
        </div>

    </nav>


