<div class="container">
    <div class="container" id="main-container">
        <h1>Order API</h1>

        <p>
            <button type="button" data-toggle="collapse" (click)="onOpenModal(null!!,'add')">+ Tambah Data Category</button>
        </p>
    </div>

    <div class="modal fade" id="addOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddOrder(addForm)">
                <div class="form-group">
                    <label for="categorycode">Header Id</label>
                    <input type="text" ngModel name="headerId"
                    class="form-control" id="headerIdCode"
                    placeholder="Header Id" required>
                </div>
            </form>
                <div>
                    <label>Product</label>
                    <br>
                      <select class="form-control" ngModel name="productId">
                        <option *ngFor="let cat of product" [ngValue]="cat.id" >{{cat.productName}}</option>
                      </select>
                   </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" ngModel name="price"
                    class="form-control" id="price"
                    placeholder="Price" required>
                </div>
                
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" ngModel name="quantity"
                    class="form-control" id="quantity"
                    placeholder="0">
                </div>

                <div class="modal-footer">
                    <button type="button" id="add-category-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Simpan Data</button>
                </div>
            </div>            
          </div>
        </div>
      </div>
</div>
